# local package
# -e git+https://github.com/ThordurPall/fish_classifier@main#egg=src
# ./dist/src-0.1.7-py3-none-any.whl

# external requirements
torch>=1.8.1
torchvision>=0.9.1
matplotlib>=3.3.4
kornia>=0.5.3
gdown>=3.13.0
azureml-core>=1.30.0
optuna>=2.8.0
hydra-core>=1.1.0
flake8
pillow
pandas
numpy
click
